{
  "env": {
    "node": true,
    "es6": true,
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "plugins": [
    "node"
  ],
  "extends": [
    "plugin:node/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "node/no-unsupported-features": 0,
    "no-console": ["error", { allow: ["log", "warn"] }]
  }
}
